body {
  box-sizing: border-box;
}

.app {
  width: 290px;
  margin: auto;
}

.display {
  background-color: grey;
  height: 72px;
  line-height: 72px;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  padding-right: 48px;
  text-align: right;
}

.button-panel {
  border: 1px solid grey; 

  & > div {
    height: 72px;

    button {
      width: 64px;
      height: 64px;
      margin: 4px;
      border: 0;
      border-radius: 12px;
      text-align: center;
      color: black;
      font-size: 24px;
    }  
  }
}
